doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    
    div(class='container')
      
      div(class='headerCon')
        block header 
          
          div(class='logoCon')
            a(href="/") 
              span Da Club
          div(class='userCon')
            if(!user)
              a(href="/login")
                span Log In
              a(href="/signup")
                span Sign Up
            if(user)
              a(href="/admin")
                span Admin
              a(href="/members")
                span Members Only
              a(href="/message")
                span Create Message
              a(href="/logout")
                span Log Out

      div(class='contentCon')
        block content
