extends layout 

block content 
  h1 sign up!
  form(method='POST' action='')
    div.signUpForm
      label(for='first_name') First Name: 
      input#firstName(type='text' placeholder='First Name' name='first_name' required='true' )

      label(for='last_name') Last Name: 
      input#lastName(type='text' placeholder='Last Name' name='last_name' required='true' )

      label(for='user_name') User Name: 
      input#userName(type='text' placeholder='User Name' name='username' required='true' )

      label(for='password') Password: 
      input#userName(type='password' placeholder='Password' name='password' required='true' )

      label(for='confirm_password') Confirm Password: 
      input#userName(type='password' placeholder='Confirm Password' name='confirm_password' required='true' )

      button(type='submit') Sign up! 