@font-face {
  font-family: bender;
  src: url(../fonts/font.woff2);
}

@font-face {
  font-family: abel;
  src: url(../fonts/Abel-Regular.ttf);
}


body {
  margin: 0;
  font: 14px bender, "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #feffa5;
  text-decoration: none;
}


#messageBody{
  
  width: 500px;
 
}

.headerCon{
  font: 18px bender, "Lucida Grande", Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content:space-between;
  color: white;
  background-color: rgb(32,42,68);
  padding-left: 50px;
  padding-right: 50px;
}
.logoCon{
  font-family: bender, "Lucida Grande", Helvetica, Arial, sans-serif;;
  font-size: 50px;
}

.userCon{
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  justify-content: end;
  align-items: center;
}

.userCon > a {
  height: fit-content;
  width: fit-content;
}

.indexHeader {
  display: grid;
  justify-content: center;
  text-align: center;
}
.contentCon{
  
  display: grid;
  grid-template-columns: 1fr;
  
  width: 100%;
}

.indexCon{
  display: grid;
  grid-template-columns: repeat(3, 260px);
  column-gap: 40px;
  justify-content: center;
  grid-auto-rows: 300px;
  align-items: center;
 
}




.messageCon{
  

  display: grid;
  grid-template-rows: 20% 60% 20%;
  background-color: rgb(236, 149, 19);
  height: 220px;
  width: 220px;
  padding: 20px;
  
  margin-bottom: 40px;
}

.messageTitle{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}



.messageBody{
  word-wrap: break-word;
  max-width: 220px;
  width: 100%;
  font-size: 12px;
  font-weight: 100;
}

.messageFooter{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}

.messageUser, .messageDate{
  font-size: 10px;
}

.messageUser > span{
  color:rgb(255, 242, 0);
}

.messageDate > span{
  color:red;
}

.adminStatus{
  color: darkmagenta;
}

.messageInfo{
  display: grid;
  align-items: center;
}

.messageDelete{
  display: flex;
  align-items: center;
  justify-content: end;
}

.deleteButton{
  background: none;
  border: solid 1px black;
}

.deleteButton:hover{
  cursor: pointer;
  color: red;
}